<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nextcloud.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>17</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
				<key>dateExpires</key>
				<string>1/31/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ChromaColorPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KTVCocoaHTTPServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KTVHTTPCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.220</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Queuer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TLPhotoPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOPasscodeViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UICKeyChainStore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CC654EB852278F104B5C540A4BA80EA435A1E06</string>
						<key>dateExpires</key>
						<string>1/31/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>XLForm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>84U478RJDK</string>
						<key>name</key>
						<string>H.O.P. New York Entertainment, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>84U478RJDK.com.postworks.postcloud</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.postworks.postcloud</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>84U478RJDK</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.postworks.postcloud</string>
				</array>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.postworks.postcloud</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>84U478RJDK.com.postworks.postcloud</string>
				</array>
			</dict>
			<key>name</key>
			<string>Nextcloud.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fdb2231f-bc72-42ad-bc16-8fa6fb84c2fe</string>
				<key>dateExpires</key>
				<string>1/31/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.postworks.postcloud</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>84U478RJDK</string>
				<key>name</key>
				<string>H.O.P. New York Entertainment, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>4.1.0</string>
		</dict>
	</array>
</dict>
</plist>
